body {
    margin: 0px;
    padding: 0px;
}


.top-sec {
    height: 100px;
    background-color: red;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}